// body.announcement-hidden .announcement-bar {
//   transform: translateY(-100%);
//   opacity: 0;
//   pointer-events: none;
// }
.announcement-bar {
  background-color: $color-yellow;
  //   transition: transform 0.3s ease, opacity 0.3s ease;
  position: relative;
  z-index: 99;
  // height: 33px;
  transition: all 0.3s ease;
  display: block;
  &.active {
    display: none;
  }
  .container-1410 {
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0 50px 0 30px;
    text-align: center;
    @include MQ(MQ-768) {
      padding: 0 40px 0 30px;
    }
  }
  .swiper-wrapper {
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto !important;
      width: 100% !important;
      padding: 9.5px 0px 9.5px;
      * {
        // color: $color-white;
        text-align: center;
      }
    }
  }
  .swiper-initialized {
    overflow: hidden;
    .swiper-slide {
      display: flex !important;
    }
  }
  .close {
    position: absolute;
    color: $color-black;
    right: 20px;
    top: 12px;
    width: 10px;
    height: 10px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @include MQ(MQ-768) {
      right: 9px;
    }

    &:hover {
      opacity: 0.5;
    }
  }
  p {
    text-align: center;
    color: $color-black;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline;

    @include MQ(MQ-480) {
      font-size: 12px;
    }
    a {
      font-size: 12px;
      font-weight: 700 !important;
      line-height: normal;
      letter-spacing: normal;
      color: $color-black !important;
      display: inline;
      position: relative;
      text-decoration: underline !important;
      @include MQ(MQ-480) {
        font-size: 12px;
      }

      &:hover {
        text-decoration: none !important;
      }
      // &::before,
      // &::after {
      //   display: none;
      // }
    }
  }
  a {
    font-size: 12px;
    font-weight: 700 !important;
    line-height: normal;
    letter-spacing: normal;
    color: $color-black !important;
    display: inline;
    position: relative;
    text-decoration: underline !important;

    position: relative;
    @include MQ(MQ-480) {
      font-size: 12px;
    }

    &:hover {
      text-decoration: none !important;
    }
  }
}
