/* Fonts */

/* Fonts */

//var(--font-family-primary): "Poppins", sans-serif;
//var(--font-family-secondary): "Prata", serif;
/*@font-face {
    font-family: "Inter";
    font-display: swap;
    src: url("Inter-Italic-VariableFont_opsz-wght.ttf") format("truetype");
  }

  @font-face {
    font-family: "Inter";
    font-display: swap;
    src: url("Inter-VariableFont_opsz-wght.ttf") format("truetype");
  }*/
/* Colors */

$color-original-black: #000000;
$color-black: #232323;
$color-yellow: #F0FF00;
$color-white: #ffffff;
$color-light-gray: #EEEEEE;
$color-dark-gray: #B8B8B8;
$color-gray: #575757;
$color-border: #F7F7F7;
$color-red: red;

/* Font sizes*/
$font-size-normal: 16px;
$font-size-small: 14px;
$font-size-xsmall: 12px;
