/* Fonts */

/* Fonts */

//var(--font-family-primary): "Poppins", sans-serif;
//var(--font-family-secondary): "Prata", serif;
/*@font-face {
    font-family: "Inter";
    font-display: swap;
    src: url("Inter-Italic-VariableFont_opsz-wght.ttf") format("truetype");
  }

  @font-face {
    font-family: "Inter";
    font-display: swap;
    src: url("Inter-VariableFont_opsz-wght.ttf") format("truetype");
  }*/
/* Colors */

$color-original-black: #000000;
$color-black: #333a3f;
$color-cream: #fff6e8;
$color-white: #ffffff;
$color-teal: #00b2a9;
$color-green: #335d71;
$color-light-orange: #ffc56e;
$color-cool-gray: #96a4c4;
$color-red: red;
$color-dark-red: #a63434;
$color-blue: #366075;

$color-dark-gray: #787978;
$color-border-dark-gray: #afafaf;
$color-border-light: #acacac;
$color-border: #e5decc;
$color-border-grey: #e7d9cb;
$color-gray: #d9d9d9;
$color-blueish : #3A6981;

/* Font sizes*/
$font-size-normal: 16px;
$font-size-small: 14px;
$font-size-xsmall: 12px;
