.three-column-product-slider {
  overflow: hidden;
 background: $color-black;
h2{
  color: $color-white;
}

.product-card{
  width: 430px;
  .image-section {
   
    height: 430px !important;
}
}
 .swiper{
    overflow: visible;
   }
.slider-outer{
  padding-bottom: 48px;
  position: relative;

}


.top-section{
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

}

 





