<div class="default-page-content">
  <div class="container-994">
    <h1 class="small text-center">{{ page.title }}</h1>

    <div class="content full-format">
      {{ page.content }}
    </div>
  </div>
</div>
